[submodule "home/.vim/neobundle.vim"]
	path = home/.vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "home/.tmux.d/tmux-powerline"]
	path = home/.tmux.d/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
