command_timeout = 1000

[aws]
symbol = "  "

[buf]
symbol = " "

[conda]
symbol = " "

[dart]
symbol = " "

[directory]
read_only = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[haskell]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[memory_usage]
symbol = " "

[nim]
symbol = " "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[package]
symbol = " "

[rust]
symbol = " "

[hostname]
ssh_only = false
format = "[$ssh_symbol](bold blue)[$hostname](bold red) "
disabled = false

# [custom.gh]
# command = 'gh auth status -a --json hosts --jq ".hosts[\"github.com\"] | map(.login) | join(\",\")"'
# when = "gh auth status -a &>/dev/null"
# symbol = " "
# format = "[$symbol$output]($style) "
# style = "bold purple"
# ignore_timeout = true

# [time]
# disabled = false
